/* header */

.nav {
    text-align: right;
    margin-right: 23%;
}

.img_head {
    width: 20%;
}

a {
    text-decoration: none;
    color: #ffffff;
    float: right;
}

a:hover {
    color: #98a5a5;
}

.header_mobile {
    display: none;
}


/* header */


/* index */


/* index section1 */

.btn_search {
    color: #ffffff;
    border-style: none;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 3px;
    background-color: #d35649;
    font-size: 70%;
    font-weight: bold;
    margin-left: -2%;
}

.form_search {
    padding-bottom: 1%;
    padding-top: 1%;
    margin-bottom: 5%;
    text-align: center;
    background-color: rgb(231, 221, 221, 0.7);
    margin-left: 29%;
    margin-right: 29%;
    border-radius: 4px;
}

.how_it_work {
    padding: 0.75%;
    border-radius: 3px;
    font-weight: bold;
    font-size: 80%;
    border-style: none;
    background-color: rgb(231, 221, 221, 0.7);
    color: black;
}


/* index section1 fin */


/* index section3*/

.section3_mobile {
    display: none;
}

.near_you {
    background-color: #d35649;
    padding-top: -5%;
}

.near_you img,
.connecting_you img,
.spending_love img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-right: 4%;
}

.near_you h5,
.connecting_you h5,
.spending_love h5 {
    color: #ffffff;
    font-weight: bold;
    padding-bottom: 3%;
}

.near_you_text,
.connecting_you_text,
.spending_love_text {
    padding-left: 4%;
    padding-top: 3%;
    padding-bottom: 5%;
}

.near_you p,
.connecting_you p,
.spending_love p {
    color: #ffffff;
    font-size: 80%;
    padding-bottom: 2%;
}

.near_you button,
.connecting_you button {
    border-style: none;
    padding: 1%;
}

.connecting_you button a {
    color: #98a5a5;
}

.near_you button a {
    color: #d35649
}

.connecting_you {
    background-color: #98a5a5;
    padding-top: -5%;
}

.learn:hover {
    text-decoration: underline;
}

.click:hover {
    text-decoration: underline;
}


/* index section3 fin */


/* index fin */


/*search */

.search h3 {
    color: #444;
    padding-top: 3%;
}

.location,
.host,
.subject,
.initial_date,
.final_date,
.day_time {
    font-weight: bold;
    text-align: left;
}

.search {
    margin-top: 1%;
}

.clear_filter {
    margin-top: 1%;
    margin-left: -4%;
}

.example {
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 15%;
    margin-bottom: 15%;
}

.example_h5 {
    color: #98a5a5;
    text-align: center;
    font-weight: bold;
}


/*fin search */

.menu {
    font-weight: bold;
}


/*about*/

.appli {
    background-color: rgb(72, 157, 190);
}

.appli:hover {
    background-color: blue;
}

.form_about {
    padding: 2%;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
    margin-left: 8%;
    margin-right: 5%;
}

.form_about_1 {
    padding: 2%;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
    margin-left: 8%;
    margin-right: 5%;
    margin-top: -6%
}

.form_about_2 {
    padding: 2%;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
    margin-right: 8%;
    margin-left: 5%;
}

.form_about_3 {
    padding: 2%;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
    margin-right: 8%;
    margin-left: 5%;
    margin-top: -6%;
}

.menu_mobile {
    display: none;
}

.menu_desktop {
    font-weight: bold;
}


/*fin about */


/*footer */

.foot {
    background-color: black;
}

.reseau:hover {
    color: #509bd7;
}

.footer2_mobile {
    display: none;
}


/*fin footer */

@media screen and (max-width: 760px) {
    /*header */
    .header_mobile {
        display: inline;
    }
    .header_desktop {
        display: none;
    }
    .events_head {
        margin-left: 50%;
    }
    /*header fin */
    /*index */
    .section1 {
        margin-top: -5%;
        padding-top: 25%;
    }
    .section3_desktop {
        display: none;
    }
    .section3_mobile {
        display: inline;
    }
    .events_index {
        font-size: 180%;
    }
    .btn_search {
        padding-left: 40%;
        padding-right: 40%;
        border-radius: 3px;
        font-size: 90%;
    }
    .form_search {
        padding-left: 5%;
        padding-right: 5%;
        margin-bottom: 5%;
        margin-left: 15%;
        margin-right: 15%;
    }
    .how_it_work {
        padding: 2%;
        margin-top: 7%;
    }
    .index_bet {
        display: none;
    }
    /*index section3*/
    .imgmobile {
        width: 450px;
        height: 270px;
        border-radius: 40px;
        margin-left: 3%;
        padding-bottom: 3%;
        padding-top: 3%;
    }
    .text_mobile {
        color: #ffffff;
        font-weight: bold;
        text-align: left;
        margin-top: -42%;
        margin-left: 13%;
    }
    /*index section3 fin*/
    /*index fin*/
    /*search */
    .filter {
        padding-top: 5%;
    }
    .search h3 {
        font-weight: bold;
        font-size: 150%;
    }
    .location {
        width: 60%;
        margin-left: 13%;
        text-align: left;
        padding-top: 10%;
    }
    .subject {
        width: 60%;
        margin-left: -5%;
        text-align: left;
        margin-top: 10%;
    }
    .initial_date {
        width: 40%;
        text-align: left;
        margin-top: 10%;
    }
    .final_date {
        width: 40%;
        margin-top: 10%;
        margin-left: -10%;
        text-align: left;
    }
    .day_time {
        width: 20%;
        text-align: left;
        margin-top: 10%;
    }
    .search {
        width: 3%;
        margin-right: 5%;
        margin-top: 15%;
    }
    .clear_filter {
        width: 30%;
        margin-left: 9%;
        margin-top: 15%;
    }
    .example {
        margin-top: 8%;
    }
    .example_1,
    .example_2,
    .example_3 {
        margin-bottom: 50%;
    }
    .example_h5 {
        display: none;
    }
    /*fin search */
    /* about */
    .form_about,
    .form_about_1,
    .form_about_2,
    .form_about_3 {
        margin-left: 5%;
        margin-right: 5%;
    }
    .menu_desktop {
        display: none;
    }
    .menu_mobile {
        display: inline;
        font-weight: bold;
    }
    /*fin about */
    /*footer */
    .foot {
        display: none;
    }
    .footer2_desktop {
        display: none;
    }
    .footer2_mobile {
        display: inline;
    }
    /*fin footer */
}